<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace에는 인터페이스 풀 네임(패키지 + 인터페이스 이름)-->
<mapper namespace="com.example.mvc.mybatis.ScoreMapper">

    <!--SQL 작성 : 추상메서드 별로 작성-->
    <!--    id에는 추상메서드 이름을 적습니다.-->
    <insert id="save">
        INSERT INTO tbl_score
        (name,kor,eng,math,total,average,grade)
        VALUES(#{name},#{kor},#{eng},#{math},#{total},#{average},#{grade})
    </insert>








</mapper>